<div class="container pb-3rem overhidden">
  <div class="row pt-2rem pb-4rem">
    <div class="col">
      <div class="log-claro">
        <img src="assets/img/logoclarohome.png" alt="">
      </div>
    </div>
    <div class="col">
      <div class="icon-girnalda txt-right pb-4rem">
        <img src="assets/img/bolaroja-min.png" alt="">
      </div>
      <div class="title txt-right">
        <h2 class="fc-dark-blue fs-45"><b>¡Bienvenido!</b></h2>
        <p class="fs-23 fc-dark-blue"><span *ngIf="dataUser && dataUser.nombre">{{dataUser.nombre}}</span><br>Aquí podrás ponerle Navidad a tu vida</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 " >
      <!--(click)="ga('send', 'event', 'link', 'click', 'bt_cadenadeseos');"-->
      <button class="title-deseos br-radius-8 text-center box-shadow" (click)="abrirpopod()">
          <ul class="list-inline title_deseos">
            <li><img src="assets/img/bolaroja-min.png" alt=""></li>
            <li class="fc-dark-blue fs-43 fs-43-mov"><b>Pide un deseo <span class="fc-red-primary">aquí</span></b></li>
          </ul>
      </button>
    </div>
    <!--<div class="col-3 calendario">
      <div class="calendar">
        <img src="assets/img/calendarionavidad-min.png" class="img-w100 daysrest" alt="">
        <div class="textrest shareweb">
          <b>Faltan <span>{{daterest}}</span> días para la Navidad</b>
          {{anuncio}}
        </div>
        <div class="textrest sharemov">
          <p class="mb-0rem fs-15"><b>Faltan</b></p><br><b><span>{{daterest}}</span></b>
          {{anuncio}}<br>
          <p>Días</p>
        </div>
      </div>
    </div>-->
  </div>
  <div class="row">
    <div class="col-12">
      <ngx-slick-carousel class="carousel mt-1rem resslick" 
                      #slickModal="slick-carousel" 
                      [config]="slideConfig"
                      (afterChange)="afterChange($event)"
                      (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div *ngIf=" slide.target == ''">
            <div class="novena" routerLink="{{ slide.routerlink }}">
              <img src="{{ slide.img }}" alt="" width="100%">
            </div>
          </div>
          <div *ngIf=" slide.target != ''">
            <div class="novena">
              <a href="{{ slide.routerlink }}" target="{{ slide.target }}">
                <img src="{{ slide.img }}" class="img-w100" alt="">
              </a>
            </div>
          </div>          
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

<div class="deseos pt-5rem pb-5rem overhidden" *ngIf="cerra">
  <div class="content-deseos box-shadow br-radius-8 pt-2rem pb-2rem bgc-white">
    <div class="icon-cerrar txt-right pr-2rem pb-1rem novena" (click)="cerrarpopod()">
        <i class="fas fa-times"></i>
    </div>
    <div class="angel">
      <ul class="icono-angel text-center img-w100 pl-0">
        <li><img src="assets/img/angelcompartirdeseo.png" class="img-fluid"></li>
      </ul>
    </div>
    <div class="mensajedeseo text-center pb-2rem">
      <h2 class="fs-34 fc-dark-blue"><b>¡Pide un deseo!</b></h2>
      <p class="fs-18 fc-dark-blue">Comparte con todos un deseo que quieras<br>que se cumpla en esta linda Navidad.</p>
    </div>
    <form [formGroup]="formDeseo" (ngSubmit)="enviarDeseo()">
      <div class="form-group pl-2rem pr-2rem">
        <textarea maxlength="{{cantCaracter}}" [(ngModel)]="mensaje" cols="150" rows="5" class="form-control" formControlName="sms" [ngClass]="{ 'is-invalid': submitted  && f.sms.errors }"></textarea>
        <div *ngIf="submitted  && f.sms.errors" class="invalid-feedback">
            <div *ngIf="f.sms.errors.required" class="fc-red-primary fs-14">Debes escribir un deseo para publicar</div>
        </div>
      </div>
      <div class="carct txt-right pl-2rem pr-2rem">
        <label class="fs-14 fc-dark-blue">
          <span *ngIf="mensaje && mensaje.length">
              {{cantCaracter-mensaje.length}}
          </span>
          <span *ngIf="!mensaje || !mensaje.length">
              {{cantCaracter}}
          </span>
           carácteres</label>
      </div>
      <div class="botonera txt-right pt-2rem">
        <ul class="list-inline">
          <li>
            <h3 class="fs-23 fc-dark-blue novena" routerLink="/deseos">Otro día</h3>
          </li>
          <li>
              <button class="btn-lg btn-red padd-btn-red"><b>¡Sí! Quiero publicar</b><i class="fas fa-arrow-right"></i></button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
