@import "src/assets/css/variables.sass"
.menu
    background-color: $color_red
    padding: 13px 0px 0px 0px
.search
    input
        padding: 28px 40px
        color: $color_gainsboro
        font-weight: 100
        font-size: 20px
    img
        position: absolute
        top: 25%
        left: 2.5%
        height: 25px
        width: 25px
.icon-compartir
    padding-top: 8px
.menu-2
    background-color: $color_red
    padding: 13px 0px 13px 0px
    div > .col-1
        padding-top: 15px
    i
        font-size: 34px
        position: relative
        top: 13px