@import "src/assets/css/mixins/mixin.sass"
@import "src/assets/css/variables.sass"
.list-inline
    display: inline-block
    li
        display: inline-block
        margin-right: 8px
.title_deseos
    li
        img
            height: 44px
            position: relative
            width: 44px
            top: -8px
.title-deseos
    padding: 22px 20px
    width: 100%
    background-color: $color_white
    border: none
    cursor: pointer
.novena
    cursor: pointer
.novena-crea
    cursor: pointer
    &:hover 
        background-color: $color_blueactive
.allnovenas
    position: relative
    .fecha
        position: absolute
        width: 100%
        top: 0
        padding-top: 11px
    .fecha-8
        h2
            display: none
        .pr-day
            display: none
.contenido-tab
    padding:  3rem
.img-tab
    width: 220px
    
.nav-link
    padding: 0 !important
.nav-tabs
    border: none !important
    .nav-link
        border: none !important

.separator
    width: 97.2%
    border: 0.5px solid #768793
    margin-left: 15px
    margin-top: 1.5rem
.title-eventos
    color: $color_titleevent
    font-size: 30px
.nav-tabs
    .nav-link.active
        p
            b
                color: $color_red
    li
        &:nth-child(6n)
            width: 100%
            a
                text-decoration: underline
                color: $color_darkblue
.img-dest
    height: 70vh
agm-map
    height: 250px
.novena-crea
    width: 100px
    &:focus
        background-color: $color_darkblue
    &:active
        background-color: $color_darkblue
/*.llevas
    input
        border-top: 0
        border-left: 0
        border-right: 0
        border-radius: 0
        border-bottom: 2px solid $color_darkblue*/
.icono-angel
    li
        list-style: none
.modal-header
    border-bottom: none !important
.modal-footer
    border-top: none !important
.content-deseos
    margin: 0 auto
    width: 50%
.deseos
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    background: rgba(0,0,0,.5)
.daysrest
    display: block
    position: relative
.textrest
    display: block
    position: absolute
    bottom: 35px
    left: 35px
    width: 73%
    line-height: 25px
    text-align: center
    font-size: 23px
    span
        color: $color_red
        font-size: 34px
.calendar
    position: relative
.bgc-nieve
    background-image: url('assets/img/fondonieve.png')
    background-position:  center center
    background-repeat: no-repeat
    background-size: cover
.boton-com-deseo
    a
        display: block
        padding: 1rem 0rem
        border-radius: 8px
        font-size: 23px
    a:hover
        text-decoration: none !important
        color: $color_white !important
.cont-des
    h2
        font-size: 50px
    p
        font-size: 28px
.overhidden
    overflow: hidden
.tab-crearnovenas
    ul.justify-content-start
        justify-content: center !important
        li
            a
                padding: 1rem !important
                font-size: 18px
                color: $color_darkblue
            a.active
                color: $color_red
                border-bottom: 2px solid $color_red !important
.lista-llevas
    ul.justify-content-start
        justify-content: flex-start !important
        li
            a
                padding: 0.5rem !important
                font-size: 18px
                color: $color_darkblue
            a.active
                color: $color_red
                border-bottom: 0 !important
                img.novena-crea
                    background-color: $color_red
.rta-buscar
    position: absolute
    width: 60%
    left: 25%
    z-index: 1
    margin-top: 1rem
.item-search
    padding: 1rem
    border-bottom: 1px solid $color_gainsboro
.icon-cerrar
    i
        font-size: 30px
.pro-movil
    display: none
.mat-tab-label
    padding: 0 !important
    height: 113px !important
.shareweb
    display: block
.sharemov
    display: none
.titleevents
    background-image: url(assets/img/titleevents-min.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
.slick-prev:before, .slick-next:before
    color: $color_red !important
    font-size: 25px !important
.mat-tab-label-active
    opacity: 1 !important
.page-item.active 
    .page-link
        background-color: $color_red !important
        border-color: $color_red !important
.page-link
    color: $color_gainsboro
.vermas
    a
        padding: 1rem
        border-radius: 8px
        width: 40%
        display: block
        margin: 20px auto
        font-size: 23px
.deseos
    overflow-y: scroll
    ::-webkit-scrollbar-track
        background: #f1f1f1

