@media(max-width: 1200px)
    .back-compartenovena 
        padding-top: 3rem
        padding-bottom: 3rem
        img
            right: 15%
            top: 14%
        .form-group:first-of-type 
            input
                padding-right: 57px
    .calendario
        padding: 0px
    .title-deseos
        padding: 16px 20px
    .textrest
        left: 35px
    .dianovena
        font-size: 44px
    .pboxevent
        padding-top: 4% !important
@media(max-width: 991px)
    .pboxevent
        padding-top: 0% !important
    .padd-btn-red
        padding-left: 3rem
    .back-compartenovena 
        padding-top: 1rem
        padding-bottom: 1rem
        img
            top: 9.5%
            right: 20%
    .separator
        width: 95.8%
    .title-deseos
        padding: 2px 20px
    .textrest
        left: 26px
        font-size: 17px
        bottom: 15px
        span
            font-size: 25px
    .allnovenas .fecha
        padding-top: 4px
        p
            margin-bottom: 5px
            font-size: 14px
    .dianovena
        font-size: 35px
    .resslick
        width: 96%
        text-align: center
        left: 10px
@media(max-width: 768px)
    .search 
        img 
            top: 22%
            left: 5%
            height: 16px
            width: 16px
        input
            font-size: 14px
            padding: 17px 40px
    .icon-compartir
        img
            height: 24px
            width: 24px
    .fs-45
        font-size: 22px
    .fs-43
        font-size: 20px
    .fs-34
        font-size: 22px
    .fs-23
        font-size: 14px
    .icon-girnalda
        padding-bottom: 2rem
        img
            height: 32px
            width: 32px
    .log-claro
        img
            height: 100px
            width: 100px
    .title_deseos
        li
            img
                height: 32px
                width: 32px
    .allnovenas
        .fecha
            top: -4px
            p
                margin-bottom: 0px
                font-size: 12px
    .dianovena
        font-size: 28px
    .fs-71
        font-size: 30px
    .title-deseos
        padding: 14px 20px 0px 20px
    .p-form-comp
        padding-left: 1rem
        padding-right: 1rem
    .back-compartenovena img
        top: 8%
        right: 4%
    .mov-btn-red
        margin-top: 4rem
    .padd-btn-red
        padding-left: 2rem
    .separator
        width: 94%
    .carta-eventos
        display: flex
        justify-content: center
        align-items: center
    .img-dest
        height: 30vh
    .title-components
        font-size: 17px
    .fs-30
        font-size: 25px
    .contenido-tab
        padding: 2rem 0px
    .parr-evts
        font-size: 18px
    .textrest 
        left: 20px
        font-size: 12px
        bottom: 17px
        line-height: 15px
    .textrest span
        font-size: 18px

    .icono-angel
        img
            height: 90px
    .content-deseos
        width: 94%
    .botonera
    .rta-buscar
        width: 90%
        left: 6%
        padding-top: 1rem
    .resslick
        width: 90%
        text-align: center
        left: 23px
    .vermas 
        a
            width: 100%
            font-size: 18px
@media(max-width: 575px)
    .back-compartenovena img
        right: 5%
        top: 6.3%
    .title-eventos
        font-size: 11px
    .mov-btn-red
        padding-right: 0
    .lista-llevas
        text-align: center
        p
            font-size: 12px
    .llevas 
        input
            padding-bottom: 1rem
            margin-top: 3rem
    .novena-crea
        width: 70px
    .title-components
        font-size: 13px
    .disnone-movil
        display: none !important
    .botonera
        padding-top: 0px
    .pro-movil 
        display: block
    .mat-tab-label
        min-width: 110px !important
        height: 68px !important
    .oracion-nov
        p
            font-size: 14px
    .sinhistorial
        img
            height: 150px
    .shareweb
        display: none
    .sharemov
        display: block
    .textrest
        left: 20px
        bottom: 8px
        line-height: 15px
    .textrest span 
        font-size: 35px
    .mensajedeseo
        p
            font-size: 14px
    .info-resumen
        border-bottom: 1px solid $color_gainsboro
        padding-bottom: 1rem
        padding-top: 0px
    .all-resumen
        padding-top: 1rem
@media (max-width: 466px)
    .textrest
        left: 20px
        bottom: 5px
        line-height: 15px
@media(max-width: 460px)
    .search 
        img 
            left: 9%
    .fs-43
        font-size: 13px
    .fs-43-mov
        font-size: 20px !important
    .fs-18
        font-size: 8px
    .fs-71
        font-size: 20px
    .allnovenas 
        .fecha
            padding-top: 4px
        p
            font-size: 9px !important
    .calendar
        img
            height: 72px
            width: 77px
    .calendario
        padding-left: 0px !important
    .agua-claro
        img
            width: 150px
            height: 150px
    .back-compartenovena img
        right: 8%
        top: 50px
    .separator
        width: 93%
    .title-icon-eve
        li
            h3
                font-size: 23px
            img
                width: 28px
    .fechaeve
        h4
            font-size: 16px
        p
            font-size: 14px
            margin-bottom: 0
    .horaeve
        h4
            font-size: 16px
        p
            font-size: 14px
            margin-bottom: 0
    .img-tab
        width: 66px
        height: 66px
    .nav-link
        p
            font-size: 8px
    .img-nov
        img
            height: 58px
    .eventos
        padding: .5rem
    .parr-evts
        font-size: 10px
    .title-deseos 
        padding: 18px 20px 0px 20px
    .prog
        padding: 19px
    .menu-2 
        i
            top: 9px
            font-size: 23px
    .logo-claro
        text-align: left !important
        img
            height: 34px
            margin: 0 20%
    .textrest
        left: 0px
        bottom: -13px
        line-height: 19px
    .textrest span 
        font-size: 35px
    .resslick
        width: 89%
        left: 20px
@media (max-width: 400px)
    .textrest
        left: 5px
        bottom: -9px
        line-height: 18px
    .textrest span 
        font-size: 35px
    .fs-43-mov
        font-size: 14px !important
@media (max-width: 350px)
    .title-eventos
        font-size: 9px
    .fs-30
        font-size: 15px
    .title-components
        font-size: 12px
    .title-icon-eve
        li
            h3
                font-size: 18px
            img
                width: 24px
    .fechaeve
        h4
            font-size: 13px
        p
            font-size: 14px
            margin-bottom: 0
    .horaeve
        h4
            font-size: 13px
        p
            font-size: 14px
            margin-bottom: 0
    .img-tab
        width: 58px
        height: 50px
    .title-deseos 
        padding: 25px 20px 0px 20px
        li img 
            height: 25px
            width: 25px
    .logo-claro
        img
            margin: 0 17% 
    .textrest
        left: 10px
        bottom: -8px
        line-height: 18px
    .textrest span 
        font-size: 35px
    .resslick 
        width: 84%
        left: 22px
