//Importa toda la tematica y funcionalidad de material
@import '~@angular/material/theming';
@import 'color.scss';
//opciones y valor prederteminado
@include mat-core();

$custom-primary: mat-palette($md-mprimary, 500);
$custom-accent: mat-palette($md-second, 500);

$custom-teme: mat-light-theme($custom-primary,$custom-accent);
@include angular-material-theme($custom-teme);