@import "src/assets/css/mixins/mixin.sass"
@import "src/assets/css/variables.sass"
.btn
    padding: 0px !important
    @include transitions(all 1s)
.btn-bgc-red
    background-color: $color_red
    color: $color_white
    &:hover
        background-color: $color_lightred
.btn-bgc-redlight
    background-color: $color_lightred
    color: $color_white
    &:hover
        background-color: $color_red
.btn-radius-12
    border-radius: 12px
.btn-red
    background-color: $color_red_button
    color: $color_white
    border-radius: 5px 0px 0px 5px
    -moz-border-radius: 5px 0px 0px 5px
    -webkit-border-radius: 5px 0px 0px 5px
    border: 0px solid $color_red_button
    cursor: pointer
    &:hover
        background-color: $color_red
        color: $color_white
.padd-btn-red
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    padding-right: 1rem
    padding-left: 6rem
    font-size: 15px
    @include transitions(all 1s)
    i
        margin-left: 10px
.btnsinborder
    border: none
    background-color: $color_white
