.back-compartenovena
    background-image: url(assets/img/fondonovena-min.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding-top: 5rem
    padding-bottom: 5rem
    padding-left: 8rem
    padding-right: 8rem
    label 
        font-weight: 700
    img
        position: absolute
        top: 17.5%
        right: 12%
        height: 45px
    input
        padding-top: 1rem
        padding-bottom: 1rem
        height: 50px
        font-weight: 700
        color: #002136
        border: 1px solid #000
    .col-sm-4 > input 
        text-align: center