<div class="org-nov">
  <div class="container">
    <div class="title-org-nov text-center pt-3rem"> 
      <h2 class="fc-dark-blue fs-34"><b>¡Vive tus <span class="fc-red-primary">Novenas de Aguinaldos!</span></b></h2>
    </div>
    <div class="parraf-org-nov text-center pb-3">
      <p class="fc-dark-blue fs-23">Selecciona la fecha que deseas, reza tu Novena y<br>conoce todas las oraciones para hacerlo.</p>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let nov of allnovena; let i = index;">
        <div (click)="ga('send', 'event', 'link', 'click', 'bt_dia1');">
          <div class="allnovenas novena" routerLink="/novenas/{{nov.idNovena}}">
            <div class="img-nov">
              <img src="{{nov.img}}" class="img-w100" alt="" >
            </div>   
          <div class="fecha text-center fecha-{{i}}">
            <p class="fc-white">{{nov.fecha}}</p>
            <p class="fc-dark-blue mb-0 pr-day">Día</p>
            <h2 class="fs-71 fc-dark-blue dianovena"><b>{{i+1}}</b></h2>
          </div>
        </div>
      </div>
        
      </div>
    </div>
    <div class="agua-claro pt-3rem">
      <img src="assets/img/aguaclaro.png" alt="">
    </div>
  </div>
</div>
