<div class="container tab-crearnovenas pt-2rem">
  <ngb-tabset #t="ngbTabset">
      <!-- (click)="ga('send', 'event', 'link', 'click', 'bt_crearnovena');" -->
    <ngb-tab id="tab-selectbyid1" title="Crear novena" >
      <ng-template ngbTabContent>
        <div class="container">
        <div class="row mt-2rem">
          <div class="col-12 text-center">
            <b class="fs-30">¡Organiza tus <span class="fc-red-primary">Novenas de Aguinaldos!</span></b><br>
            <span class="title-components">Selecciona la fecha que desees, realiza tu Novena y<br>lleva un recuerdo de tu Navidad.</span>
          </div>
        </div>
        <div class="row mt-2rem mb-3rem">
          <div class="col-12 p-0rem">
              <div class="form" *ngIf="crear">
                <form [formGroup]="myformulario" (ngSubmit)="onSubmit()">
                  <div class="back-compartenovena p-form-comp">
                    <div class="form-group">
                      <label>Ponle un nombre a tu novena</label>
                      <input type="text" class="form-control" id="" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted  && form.nombre.errors }">
                      <img src="assets/img/bolaroja-min.png" alt="icono_chimenea">
                      <div *ngIf="submitted  && form.nombre.errors" class="invalid-feedback">
                          <div *ngIf="form.nombre.errors.required" class="fc-red-primary fs-14">Debes asignarle un nombre a tu novena</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4">
                          <label>Fecha</label>
                          <input type="date" min="{{today}}" max="2018-12-25" class="form-control" id="" placeholder="DD/MM/AA" formControlName="fecha" [ngClass]="{ 'is-invalid': submitted  && form.fecha.errors }">
                          <div *ngIf="submitted  && form.fecha.errors" class="invalid-feedback">
                              <div *ngIf="form.fecha.errors.required" class="fc-red-primary fs-14">Debes asignar una fecha</div>
                          </div>
                        </div>
  
                        <div class="col-sm-4">
                          <label>Hora</label>
                          <input type="time" class="form-control" id="" formControlName="hora" [ngClass]="{ 'is-invalid': submitted  && form.hora.errors }">
                          <div *ngIf="submitted  && form.hora.errors" class="invalid-feedback">
                              <div *ngIf="form.hora.errors.required" class="fc-red-primary fs-14">Debes asignar una hora</div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <label>Lugar</label>
                          <input type="text" class="form-control" id="" placeholder="Dirección" formControlName="lugar" [ngClass]="{ 'is-invalid': submitted  && form.lugar.errors }">
                          <div *ngIf="submitted  && form.lugar.errors" class="invalid-feedback">
                              <div *ngIf="form.lugar.errors.required" class="fc-red-primary fs-14">Debes asignar un lugar</div>
                          </div>
                        </div>  
                      </div>            
                    </div>
                  </div>
                  <div class="row mt-1rem">
                      <div class="col-12 fc-red-primary mb-1rem">
                        <b>¿Qué llevar?</b>
                      </div>
                      <div class="col-xs-12 col-md-9 lista-llevas">
                        <ngb-tabset #t="ngbTabset">
                          <ngb-tab id="tab-selectbyid1">
                              <ng-template ngbTabTitle>
                                  <div class="icons-llevar" (click)="ga('send', 'event', 'link', 'click', 'bt_comida');">
                                    <img src="assets/img/iconogalletas-min.png" alt="icono_galletas" class="bgc-gainsboro br-radius-4 novena-crea">
                                    <p class="text-center fc-dark-blue fs-14"><b>Comida</b></p>
                                  </div>
                              </ng-template>
                            <ng-template ngbTabContent>
                              <label class="fc-dark-blue"><b>¿Qué comida deseas que lleve tu invitado?</b></label>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab id="tab-selectbyid2">
                            <ng-template ngbTabTitle>
                              <div class="icons-llevar" (click)="ga('send', 'event', 'link', 'click', 'bt_instrumentos');">
                                <img src="assets/img/iconointrumentos-min.png" alt="icono_galletas" class="bgc-gainsboro br-radius-4 novena-crea">
                                <p class="text-center fc-dark-blue fs-14"><b>Instrumentos</b></p>
                              </div>
                            </ng-template>
                            <ng-template ngbTabContent>
                              <label class="fc-dark-blue"><b>¿Qué instrumento deseas que lleve tu invitado?</b></label>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab id="tab-selectbyid3">
                              <ng-template ngbTabTitle>
                                <div class="icons-llevar" (click)="ga('send', 'event', 'link', 'click', 'bt_otros');">
                                    <img src="assets/img/iconopan-min.png" alt="icono_galletas" class="bgc-gainsboro br-radius-4 novena-crea">
                                    <p class="text-center fc-dark-blue fs-14"><b>Otros</b></p>
                                </div>
                              </ng-template>
                              <ng-template ngbTabContent>
                                  <label class="fc-dark-blue"><b>Escribe otra cosa que deseas que tu invitado lleve</b></label>
                              </ng-template>
                            </ngb-tab>
                          </ngb-tabset>
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="llevas">
                            <input type="text" class="form-control" formControlName="llevas" [ngClass]="{ 'is-invalid': submitted  && form.llevas.errors }">
                            <div *ngIf="submitted  && form.llevas.errors" class="invalid-feedback">
                                <div *ngIf="form.llevas.errors.required" class="fc-red-primary fs-14">Debes diligenciar este campo</div>
                            </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-md-8 txt-right mov-btn-red" (click)="ga('send', 'event', 'link', 'click', 'bt_invitanovena_continuar');">
                          <button class="btn-lg btn-red padd-btn-red" >
                            Continuar<i class="fas fa-arrow-right"></i>
                          </button>
                      </div>
                    </div>
                </form>
              </div>
          </div>
        </div>
        <div class="resumen" *ngIf="resumen && infoForm">
            <div class="row box-shadow p-1rem">
                <div class="col-12">
                  <h2 class="fc-red-primary text-center fs-30 mt-1rem mb-1rem"><b>Resumen</b></h2>
                </div>
                <div class="col-12">
                  <span class="fw-500">Nombre de tu novena</span>
                  <div class="col-12 p-0rem pt-1rem">
                    <b class="img-w100 mt-1rem">{{infoForm.nombre | json}}</b>
                  </div>
                </div>
                <div class="separator"></div>
                <div class="col-12 mb-1rem mt-1rem">
                  <div class="row">
                    <div class="col-xs-6 col-ms-6 col-md-4 all-resumen">
                      <span class="fw-500">Fecha</span>
                      <div class="col-12 p-0rem pt-1rem fs-23 info-resumen">
                        <b class="img-w100 mt-1rem">{{infoForm.fecha | json}}</b>
                      </div>
                    </div>
                    <div class="col-xs-6 col-ms-6 col-md-4 all-resumen">
                      <span class="fw-500">Hora</span>
                      <div class="col-12 p-0rem pt-1rem fs-23 info-resumen">
                        <b class="img-w100 mt-1rem">{{infoForm.hora | json}}</b>
                      </div>
                    </div>
                    <div class="col-xs-12 col-ms-12 col-md-4 all-resumen">
                      <span class="fw-500">Lugar</span>
                      <div class="col-12 p-0rem pt-1rem fs-23">
                        <b class="img-w100 mt-1rem">{{infoForm.lugar | json}}</b>
                      </div>
                    </div>
                    <div class="separator"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                    <span class="fw-500">Opción para llevar</span>
                    <div class="col-12 p-0rem pt-1rem fs-23">
                      <b class="img-w100 mt-1rem">{{infoForm.llevas | json}}</b>
                    </div>
                </div>
              </div>
              <div class="row mt-3rem">
                <div class="col-12 txt-right mov-btn-red p-0rem sharemov">
                  <a href="https://miclaroapp.com.co/novena?url_externa=https://wa.me/?text=Te invito a mi novena: {{infoForm.nombre | json}} el día {{infoForm.fecha | json}} a las {{infoForm.hora | json}} Debes traer: {{infoForm.llevas | json}} Descarga la App Mi Claro y comparte con todos tu Navidad Claro https://f63y8.app.goo.gl/miclaro" 
                  target="_blank" 
                  data-action="share/whatsapp/share"
                  class="btn btn-lg btn-red" 
                  role="button" 
                  aria-pressed="true">
                    <div class="padd-btn-red">Compartir<i class="fas fa-arrow-right"></i></div>
                  </a>
                </div>
                <div class="col-12 txt-right mov-btn-red p-0rem shareweb">
                  <a 
                  href="https://wa.me/?text=Te invito a mi novena: {{infoForm.nombre | json}} el día {{infoForm.fecha | json}} a las {{infoForm.hora | json}} Debes traer: {{infoForm.llevas | json}} Descarga la App Mi Claro y comparte con todos tu Navidad Claro https://f63y8.app.goo.gl/miclaro" 
                  target="_blank" 
                  data-action="share/whatsapp/share"
                  class="btn btn-lg btn-red" 
                  role="button" 
                  aria-pressed="true">
                    <div class="padd-btn-red">Compartir<i class="fas fa-arrow-right"></i></div>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab >
    <!-- (click)="ga('send', 'event', 'link', 'click', 'bt_programadas');" -->
    <ngb-tab id="tab-selectbyid2" title="Programadas" >
        <ng-template ngbTabContent>
          <div class="contelista pb-3rem" *ngIf="lista.length > 0">
            <div class="tile-nvpro pt-2rem">
              <h3 class="fs-23 fc-dark-blue"><b>Mis novenas programadas</b></h3>
            </div>
            <div >
              <div *ngFor="let item of lista" (click)="t.select('tab-selectbyid1')">
                <div class=" prog box-shadow br-radius-4 pt-1rem pb-1rem pl-2rem p-2rem mt-1rem disnone-movil">
                  <div class="row ">
                    <div class="col-10">
                      <h2 class="fc-dark-blue fs-30"><b class="d-inline-block text-truncate" style="max-width: 100%;">{{item.nombre}}</b></h2>
                      <div class="row">
                        <div class="col-4">
                          <p>
                            <span class="fc-red-primary">Fecha</span><br>
                            <span class="fc-red-primary fs-23"><b>{{item.fecha}}</b></span>
                          </p>
                        </div>
                        <div class="col-4">
                            <p>
                              <span class="fc-red-primary">Hora</span><br>
                              <span class="fc-red-primary fs-23"><b>{{item.hora}}</b></span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>
                              <span class="fc-red-primary">Lugar</span><br>
                              <span class="fc-red-primary fs-23"><b class="d-inline-block text-truncate" style="max-width: 100%;">{{item.lugar}}</b></span>
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <img src="assets/img/christmas-card-min.png" alt="" class="img-fluid">
                    </div>
                  </div>
                  
                </div>
                <div class=" prog box-shadow br-radius-4 pt-1rem pb-1rem pl-2rem p-2rem mt-1rem pro-movil">
                    <div class="row ">
                      <div class="col-md-12">
                         <h2 class="fc-dark-blue fs-30"><b class="d-inline-block text-truncate" style="max-width: 100%;">{{item.nombre}}</b></h2>
                        <div class="row">
                          <div class="col-4">
                            <p>
                              <span class="fc-red-primary">Fecha</span><br>
                              <span class="fc-red-primary fs-23"><b>{{item.fecha}}</b></span>
                            </p>
                          </div>
                          <div class="col-4">
                              <p>
                                <span class="fc-red-primary">Hora</span><br>
                                <span class="fc-red-primary fs-23"><b>{{item.hora}}</b></span>
                              </p>
                          </div>
                          <div class="col-4">
                              <p>
                                <span class="fc-red-primary">Lugar</span><br>
                                <span class="fc-red-primary fs-23"><b class="d-inline-block text-truncate" style="max-width: 100%;">{{item.lugar}}</b></span>
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="sinhistorial text-center pt-3rem pb-3rem" *ngIf="lista.length == 0">
            <img src="assets/img/nov-pro.png" class="img-fluid">
            <h2 class="fs-34 fc-red-primary pt-2rem"><b>¡Hola!</b></h2>
            <p class="fs-23 fc-dark-blue">
              <b>Aún no has organizado ninguna<br>novena. Comienza ahora e invita<br>a tus amigos</b>
            </p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>

  

