<div class="container">
  <div class="bgc-nieve bgc-white pt-3rem pb-3rem">
    <div class="row">
      <div class="col-md-6 mb-1rem">
          <div class="arbol text-center">
            <img src="assets/img/arboldenavidad.png" alt="" class="img-fluid">
          </div>
      </div>
      <div class="col-md-6 mb-1rem">
        <div class="cont-deseos box-shadow bgc-white text-center pt-1rem pb-1rem br-radius-8">
          <div class="row">
            <div class="col-3">
              <img src="assets/img/guirnaldaroja.png" alt="" class="img-fluid">
            </div>
            <div class="col-9">
              <div class="cont-des text-center">
                <h2 class="fc-red-primary mb-0"><b>{{alldeseos.length}}</b></h2>
                <p class="fc-dark-blue  mb-0"><b>Deseos</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="shareweb boton-com-deseo text-center mt-1rem">
            <a class="bgc-red-primary " href="https://wa.me/?text=Cuéntanos tus mejores deseos y compártelos con los que más quieres. Ingresa a la App Mi Claro y haz de tu Navidad una experiencia mágica. https://f63y8.app.goo.gl/miclaro" target="_blank" class="fc-white bgc-red-primary" >
              Invitar a dar un deseo
            </a>
          </div>
          <div class="sharemov boton-com-deseo text-center mt-1rem">
            <a class="bgc-red-primary" href="https://miclaroapp.com.co/novena?url_externa=https://wa.me/?text=Cuéntanos tus mejores deseos y compártelos con los que más quieres. Ingresa a la App Mi Claro y haz de tu Navidad una experiencia mágica. https://f63y8.app.goo.gl/miclaro" target="_blank" class="fc-white bgc-red-primary" >
              Invitar a dar un deseo
            </a>
          </div>
      </div>
    </div>
  </div>
  <div class="all-deseos pb-3rem">
    <div class="title-deseos pt-3rem">
      <h2 class="fc-dark-blue fs-34"><b>Feed de deseos</b> ({{finDeseos}} / {{alldeseos.length}})</h2>
    </div>
    <!--
    <div class="row">
      <div class="col-md-4 mb-1rem" *ngFor="let d of deseos | angularPaginator: { currentPage: currentPage }">
        <div class="box-shadow pt-1rem pb-1rem pl-1rem pr-1rem br-radius-8">
          <div class="row" >
            <div class="col-3 pr-0rem ">
                <img src="assets/img/iconousuario.png" alt="" class="img-fluid">
            </div>
            <div class="col-9">
              <p class="mb-0rem"><b>{{d.nombre || 'Usuario Claro'}}</b></p>
              <p  class="fs-12">{{d.mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-angular-paginator (pageChange)="currentPage = $event"></app-angular-paginator>
    -->
    <!---->
    <div class="row">
      <div class="col-md-4 mb-1rem" *ngFor="let d of deseos.reverse() | slice:comienzoDeseos:finDeseos">
        <div class="box-shadow pt-1rem pb-1rem pl-1rem pr-1rem br-radius-8">
          <div class="row" >
            <div class="col-3 pr-0rem ">
                <img src="assets/img/iconousuario.png" alt="" class="img-fluid">
            </div>
            <div class="col-9">
              <p class="mb-0rem"><b>{{d.nombre || 'Usuario Claro'}}</b></p>
              <p  class="fs-12">{{d.mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vermas text-center">
      <a class="fc-white bgc-red-primary novena" (click)="verMas()" *ngIf="hayMas">Ver más</a>
      <a class="fc-white bgc-gainsboro novena" (click)="verMas()" *ngIf="!hayMas">No hay más deseos para mostrar</a>
    </div>
    <!---->
  </div>
</div>