@mixin transitions($propiedad)
    -moz-transition: $propiedad
    -o-transition: $propiedad
    -webkit-transition: $propiedad
    transition: $propiedad

@mixin transform($propiedad)
    -moz-transform: $propiedad
    -o-transform: $propiedad
    -webkit-transform: $propiedad
    transform: $propiedad