<div class="container pb-3rem" *ngIf="evento">
  <div class="img-dest bgi mt-3rem mb-1rem br-radius-8 box-shadow" [ngStyle]="{'background-image': 'url('+evento.imgDest+')'}">
  </div>
  <div class="title-evento br-radius-8 pt-1rem pl-2rem pr-2rem titleevents">
      <ul class="list-inline txt-right title-icon-eve img-w100">
        <li><h3 class="fc-white fs-34"><b>{{evento.nombreEvent}}</b></h3></li>
        <li class="disnone-movil"><img src="assets\img\icon-evento.png" alt=""></li>
      </ul>
  </div>
  <div class="content-event pt-1rem">
    <div class="row">
      <div class="col-md-6">
        <p class="fs-23 fc-dark-blue">
          {{evento.descrip}}
        </p>
        <div class="punt-event">
          <ul class="list-punt-event">
            <li class="fs-23">
              {{evento.puntosEventos}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <div class="bgc-dark-blue br-radius-8 box-shadow mt-1rem pt-1rem pb-1rem pl-2rem pr-2rem">
          <div class="row">
            <div class="col-6 fechaeve">
              <p class="fc-white fs-18 text-center">Fecha</p>
              <h4 class="fc-white text-center"><i class="far fa-calendar-alt mr-1rem"></i><b>{{evento.fecha}}</b></h4>
            </div>
            <div class="col-6 horaeve">
                <p class="fc-white fs-18 text-center">Hora</p>
                <h4 class="fc-white text-center"><i class="far fa-clock mr-1rem"></i><b>{{evento.hora}}</b></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-volver-evento txt-right mt-5rem">
      <a routerLink="/eventos" class="btn-red padd-btn-red">
        Ver más eventos<i _ngcontent-c6="" class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>