<div class="container mt-3rem">
    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="assets/img/todias.png" alt="" class="img-fluid">
          </ng-template>
          <div class="oracion pt-2rem">
              <div class="text-center fc-red-primary fs-23 pb-2rem"><strong>Oración para todos los días</strong></div>
            <p class="fs-23 fc-dark-blue txt-justify">Benignísimo Dios de infinita caridad, que tanto amasteis a los hombres, que les disteis en vuestro hijo la prenda de vuestro amor, para que hecho hombre en las entrañas de una Virgen naciese en un pesebre para nuestra salud y remedio; yo, en nombre de todos los mortales, os doy infinitas gracias por tan soberano beneficio. En retorno de él os ofrezco la pobreza, humildad y demás virtudes de vuestro hijo humanado, suplicándoos por sus divinos méritos, por las incomodidades en que nació y por las tiernas lágrimas que derramó en el pesebre, que dispongáis nuestros corazones con humildad profunda, con amor encendido, con tal desprecio de todo lo terreno, para que Jesús recién nacido tenga en ellos su cuna y more eternamente. <br> Amén. <br><b>Se reza tres veces Gloria al Padre.</b></p>
          </div>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label >
            <img src="assets/img/oraciondia.png" alt="" class="img-fluid">
          </ng-template>
          <div class="text-center fc-red-primary fs-23 pb-2rem pt-2rem"><strong>{{infoNovena.titulo}}</strong></div>
          <div class="ora-dia">
            <p class="fs-23 fc-darkblue txt-justify">{{infoNovena.oracion}}</p>
          </div>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="assets/img/virgen.png" alt="" class="img-fluid">
          </ng-template>
          <div class="text-center fc-red-primary fs-23 pb-2rem pt-2rem"><strong>Oración a la Santísima Virgen</strong></div>
            <p class="fs-23 fc-darkblue txt-justify">Soberana María que por vuestras grandes virtudes y especialmente por vuestra humildad, merecisteis que todo un Dios os escogiese por madre suya, os suplico que vos misma preparéis y dispongáis mi alma y la de todos los que en este tiempo hiciesen esta novena para el nacimiento espiritual de vuestro adorado hijo.<br>¡Oh dulcísima madre!, comunicadme algo del profundo recogimiento y divina ternura con que lo aguardasteis vos, para que nos hagáis menos indignos de verle, amarle y adorarle por toda la eternidad. <br> Amén. <br><b>Se reza tres veces el Avemaría.</b></p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <img src="assets/img/sjose.png" alt="" class="img-fluid">
            </ng-template>
            <div class="text-center fc-red-primary fs-23 pb-2rem pt-2rem"><strong>Oración a San José</strong></div>
            <p class="fs-23 fc-darkblue txt-justify">¡Oh santísimo José, esposo de María y padre putativo de Jesús! Infinitas gracias doy a Dios porque os escogió para tan soberanos misterios y os adornó con todos los dones proporcionados a tan excelente grandeza. Os ruego por el amor que tuvisteis al Divino Niño, me abracéis en fervorosos deseos de verle y recibirle sacramentalmente, mientras en su divina esencia le veo y le gozo en el cielo.<br>Amén.<br><b>Se reza el Padrenuestro, el Avemaría y Gloria al Padre</b></p>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                <img src="assets/img/gozos.png" alt="" class="img-fluid">
              </ng-template>
              <div class="text-center fc-red-primary fs-23 pb-2rem pt-2rem"><strong>Gozos</strong></div>
              <div class="row oracion-nov">
                <div class="col-md-4">
                  <p class="fs-18 fc-dark-blue"><b>Dulce Jesús mío, mi niño adorado<br>
                    ¡Ven a nuestras almas!<br>
                    ¡Ven no tardes tanto!<br></b><br>
                     
                    ¡Oh, Sapiencia suma del Dios soberano,<br>
                    que a infantil alcance te rebajas sacro!<br>
                    ¡Oh, Divino Niño, ven para enseñarnos<br>
                    la prudencia que hace verdaderos sabios!<br>
                  <b>¡Ven a nuestras almas!<br>
                    ¡Ven no tardes tanto!</b><br><br></p>
                    <p class="fs-18 fc-dark-blue">
                      ¡Oh, Adonai potente que Moisés hablando,<br>
                      de Israel al pueblo diste los mandatos!<br>
                      ¡Ah, ven prontamente para rescatarnos,<br>
                      y que un niño débil muestre fuerte el brazo!<br>
                      <b>¡Ven a nuestras almas!<br>
                      ¡Ven no tardes tanto!</b><br><br></p>
                    <p class="fs-18 fc-dark-blue">
                      ¡Oh, raíz sagrada de José que en lo alto<br>
                      presenta al orbe tu fragante nardo!<br>
                      Dulcísimo Niño que has sido llamado<br>
                      Lirio de los valles, Bella flor del campo.<br>
                      <b>¡Ven a nuestras almas!<br>
                      ¡Ven no tardes tanto!</b><br><br></p>
                      <p class="fs-18 fc-dark-blue">
                          ¡Llave de David que abre al desterrado<br>
                          las cerradas puertas de regio palacio!<br>
                          ¡Sácanos. Oh Niño con tu blanca mano,<br>
                          de la cárcel triste que labró el pecado!<br>
                          <b>¡Ven a nuestras almas!<br>
                          ¡Ven no tardes tanto!</b><br><br></p>                    
                </div>
                <div class="col-md-4">
                  
                    <p class="fs-18 fc-dark-blue">
                      ¡Oh, lumbre de Oriente, sol de eternos rayos,<br>
                      que entre las tinieblas tu esplendor veamos!<br>
                      Niño tan precioso, dicha del cristiano,<br>
                      luzca la sonrisa de tus dulces labios.<br>
                    <b>¡Ven a nuestras almas!<br>
                    ¡Ven no tardes tanto!</b><br><br></p>
                    <p class="fs-18 fc-dark-blue">
                      ¡Espejo sin mancha, santo de los santos,<br>
                      sin igual imagen del Dios soberano!<br>
                      ¡Borra nuestras culpas, salva al desterrado<br>
                      y en forma de niño, da al mísero amparo!<br>
                      <b>¡Ven a nuestras almas!<br>
                      ¡Ven no tardes tanto!</b><br><br></p>
                    <p class="fs-18 fc-dark-blue">
                      ¡Rey de las naciones, Emmanuel preclaro,<br>
                      De Israel anhelo Pastor del rebaño!<br>
                      ¡Niño que apacientas con suave cayado<br>
                      ya la oveja arisca, ya el cordero manso!<br>
                      <b>¡Ven a nuestras almas!<br>
                      ¡Ven no tardes tanto!</b><br><br></p>
                      <p class="fs-18 fc-dark-blue">
                          ¡Ábranse los cielos y llueva de lo alto<br>
                          bienhechor rocío como riego santo!<br>
                          ¡Ven hermoso Niño, ven Dios humanado!<br>
                          ¡Luce, hermosa estrella! ¡Brota, flor del campo!<br>
                          <b>¡Ven a nuestras almas!<br>
                          ¡Ven no tardes tanto!</b><br><br></p>
                </div>
                <div class="col-md-4">
                    <p class="fs-18 fc-dark-blue">
                      ¡Ven, que ya María previene sus brazos,<br>
                      do su niño vean, en tiempo cercanos!<br>
                      ¡Ven, que ya José, con anhelo sacro,<br>
                      se dispone a hacerse de tu amor sagrario!<br>
                      <b>¡Ven a nuestras almas!<br>
                      ¡Ven no tardes tanto!</b><br><br></p>
                      <p class="fs-18 fc-dark-blue">
                        ¡Del débil auxilio, del doliente amparo,<br>
                        consuelo del triste, luz del desterrado!<br>
                        ¡Vida de mi vida, mi dueño adorado,<br>
                        mi constante amigo, mi divino hermano!<br>
                        <b>¡Ven a nuestras almas!<br>
                        ¡Ven no tardes tanto!</b><br><br></p>
                      <p class="fs-18 fc-dark-blue">
                        ¡Ven ante mis ojos, de ti enamorados!<br>
                        ¡Bese ya tus plantas! ¡Bese ya tus manos!<br>
                        ¡Prosternado en tierra, te tiendo los brazos,<br>
                        y aún más que mis frases, te dice mi llanto!<br>
                        <b>¡Ven a nuestras almas!<br>
                        ¡Ven no tardes tanto!</b><br><br></p>
                        <p class="fs-18 fc-dark-blue">
                          ¡Ven Salvador nuestro por quien suspiramos!<br>
                          <b>¡Ven a nuestras almas!<br>
                          ¡Ven no tardes tanto!</b></p>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                  <img src="assets/img/ninojesu.png" alt="" class="img-fluid">
                </ng-template>
                <div class="text-center fc-red-primary fs-23 pb-2rem pt-2rem"><strong>Oración al Niño Jesús</strong></div>
                <p class="fs-23 fc-darkblue txt-justify">Acordaos, ¡oh dulcísimo Niño Jesús!, que dijisteis a la venerable Margarita del Santísimo Sacramento y en persona suya a todos vuestros devotos, estas palabras tan consoladoras para nuestra pobre humanidad agobiada y doliente: "Todo lo que quieras pedir, pídelo por los méritos de mi infancia y nada te será negado". Llenos de confianza en vos, ¡oh Jesús!, que sois la misma verdad, venimos a exponeros toda nuestra miseria.</p>
                <p class="fs-23 fc-darkblue txt-justify">Ayudadnos a llevar una vida santa, para conseguir una eternidad bienaventurada. Concedednos por los méritos infinitos de vuestra encarnación y de vuestra infancia, la gracia de la cual necesitamos tanto.</p>
                <p class="fs-23 fc-darkblue txt-justify">Nos entregamos a vos, oh Niño omnipotente, seguros de que no quedará frustrada nuestra esperanza y de que en virtud de vuestra divina promesa, acogeréis y despacharéis favorablemente nuestra súplica.<br>Amén.</p>
              </mat-tab>
      </mat-tab-group>
  </div>
