@import "src/assets/css/variables.sass"
.p-0rem
    padding: 0
.p-1rem
    padding: 1rem
.pt-0rem
    padding-top: 0rem
.pt-1rem
    padding-top: 1rem
.pt-2rem
    padding-top: 2rem
.pt-3rem
    padding-top: 3rem
.pt-4rem
    padding-top: 4rem
.pt-5rem
    padding-top: 5rem
.pt-6rem
    padding-top: 6rem
.pt-7rem
    padding-top: 7rem
.pt-8rem
    padding-top: 8rem
.pt-9rem
    padding-top: 9rem
.pt-10rem
    padding-top: 10rem

.pb-0rem
    padding-bottom: 0rem
.pb-1rem
    padding-bottom: 1rem
.pb-2rem
    padding-bottom: 2rem
.pb-3rem
    padding-bottom: 3rem
.pb-4rem
    padding-bottom: 4rem
.pb-5rem
    padding-bottom: 5rem
.pb-6rem
    padding-bottom: 6rem
.pb-7rem
    padding-bottom: 7rem
.pb-8rem
    padding-bottom: 8rem
.pb-9rem
    padding-bottom: 9rem
.pb-10rem
    padding-bottom: 10rem

.pl-0rem
    padding-left: 0rem
.pl-1rem
    padding-left: 1rem
.pl-2rem
    padding-left: 2rem
.pl-3rem
    padding-left: 3rem
.pl-4rem
    padding-left: 4rem
.pl-5rem
    padding-left: 5rem
.pl-6rem
    padding-left: 6rem
.pl-7rem
    padding-left: 7rem
.pl-8rem
    padding-left: 8rem
.pl-9rem
    padding-left: 9rem
.pl-10rem
    padding-left: 10rem

.pr-0rem
    padding-right: 0rem
.pr-1rem
    padding-right: 1rem
.pr-2rem
    padding-right: 2rem
.pr-3rem
    padding-right: 3rem
.pr-4rem
    padding-right: 4rem
.pr-5rem
    padding-right: 5rem
.pr-6rem
    padding-right: 6rem
.pr-7rem
    padding-right: 7rem
.pr-8rem
    padding-right: 8rem
.pr-9rem
    padding-right: 9rem
.pr-10rem
    padding-right: 10rem

.mt-0rem
    margin-top: 0rem
.mt-1rem
    margin-top: 1rem
.mt-2rem
    margin-top: 2rem
.mt-3rem
    margin-top: 3rem
.mt-4rem
    margin-top: 4rem
.mt-5rem
    margin-top: 5rem
.mt-6rem
    margin-top: 6rem
.mt-7rem
    margin-top: 7rem
.mt-8rem
    margin-top: 8rem
.mt-9rem
    margin-top: 9rem
.mt-10rem
    margin-top: 10rem

.mb-0rem
    margin-bottom: 0rem
.mb-1rem
    margin-bottom: 1rem
.mb-2rem
    margin-bottom: 2rem
.mb-3rem
    margin-bottom: 3rem
.mb-4rem
    margin-bottom: 4rem
.mb-5rem
    margin-bottom: 5rem
.mb-6rem
    margin-bottom: 6rem
.mb-7rem
    margin-bottom: 7rem
.mb-8rem
    margin-bottom: 8rem
.mb-9rem
    margin-bottom: 9rem
.mb-10rem
    margin-bottom: 10rem

.ml-0rem
    margin-left: 0rem
.ml-1rem
    margin-left: 1rem
.ml-2rem
    margin-left: 2rem
.ml-3rem
    margin-left: 3rem
.ml-4rem
    margin-left: 4rem
.ml-5rem
    margin-left: 5rem
.ml-6rem
    margin-left: 6rem
.ml-7rem
    margin-left: 7rem
.ml-8rem
    margin-left: 8rem
.ml-9rem
    margin-left: 9rem
.ml-10rem
    margin-left: 10rem

.mr-0rem
    margin-right: 0rem
.mr-1rem
    margin-right: 1rem
.mr-2rem
    margin-right: 2rem
.mr-3rem
    margin-right: 3rem
.mr-4rem
    margin-right: 4rem
.mr-5rem
    margin-right: 5rem
.mr-6rem
    margin-right: 6rem
.mr-7rem
    margin-right: 7rem
.mr-8rem
    margin-right: 8rem
.mr-9rem
    margin-right: 9rem
.mr-10rem
    margin-right: 10rem
/* colores de los textos y background*/
.bgc-red-primary
    background: $color_red
.bgc-light-red
    background-color: $color_lightred
.bgc-gainsboro
    background-color: $color_gainsboro
.bgc-dark-blue
    background-color: $color_darkblue
.bgc-white
    background-color: $color_white
.fc-red-primary
    color: $color_red
.fc-light-red
    color: $color_lightred
.fc-dark-blue
    color: $color_darkblue
.fc-white
    color: $color_white !important
/* tamaño de fuestes*/
.fs-45
    font-size: 45px
.fs-43
    font-size: 43px
.fs-71
    font-size: 71px
.fs-34
    font-size: 34px
.fs-23
    font-size: 23px
.fs-27
    font-size: 27px
.fs-13
    font-size: 13px
.fs-18
    font-size: 18px
.fs-30
    font-size: 30px
.fs-12
    font-size: 12px
.fs-15
    font-size: 15px
/* aliniación de los textos*/
.txt-right
    text-align: right
.txt-left
    text-align: left
.txt-justify
    text-align: justify
/* bordes redondeados en elementos*/
.br-radius-8
    border-radius: 8px
.br-radius-4
    border-radius: 4px
/* box-shadow*/
.box-shadow
    -webkit-box-shadow: 0 1px 3px 1px rgba($color_gainsboro,.5)
    -moz-box-shadow: 0 1px 3px 1px rgba($color_gainsboro,.5)
    box-shadow: 0 1px 3px 1px rgba($color_gainsboro,.5)
/*width*/ 
.img-w100
    width: 100%
/*font weight*/
.fw-500
    font-weight: 500
.bgi
    background-position: center center
    background-repeat: no-repeat
    background-size: cover