<div class="container mt-3rem">
  <div class="row box-shadow p-1rem">
    <div class="col-12">
      <h2 class="fc-red-primary text-center fs-30 mt-1rem mb-1rem"><b>Resumen</b></h2>
    </div>
    <div class="col-12">
      <span class="fw-500">Nombre de tu novena</span>
      <div class="col-12 p-0rem pt-1rem fs-23">
        <b class="img-w100 mt-1rem">holamundo</b>
      </div>
    </div>
    <div class="separator"></div>
    <div class="col-12 mb-1rem mt-1rem">
      <div class="row">
        <div class="col-4">
          <span class="fw-500">Fecha</span>
          <div class="col-12 p-0rem pt-1rem fs-23">
            <b class="img-w100 mt-1rem">holamundo</b>
          </div>
        </div>
        <div class="col-4">
          <span class="fw-500">Hora</span>
          <div class="col-12 p-0rem pt-1rem fs-23">
            <b class="img-w100 mt-1rem">19:00</b>
          </div>
        </div>
        <div class="col-4">
          <span class="fw-500">Lugar</span>
          <div class="col-12 p-0rem pt-1rem fs-23">
            <b class="img-w100 mt-1rem">Cra 56 # ...</b>
          </div>
        </div>
        <div class="separator"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <ul class="list-inline">
        <li>
          <img src="assets/img/iconogalletas-min.png" alt="icono_galletas">
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-3rem">
    <div class="col-12 txt-right mov-btn-red p-0rem">
      <a href="https://web.whatsapp.com//send?text=https://www.google.com/" target="_blank" data-action="share/whatsapp/share" class="btn btn-lg btn-red" role="button" aria-pressed="true">
        <div class="padd-btn-red">Compartir<i class="fas fa-arrow-right"></i></div>
      </a>
    </div>
  </div>
</div>
