<div class="menu" *ngIf="menuishome">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="icon-compartir">
          <a class="shareweb" (click)="ga('send', 'event', 'link', 'click', 'bt_compartir');" href="https://wa.me/?text=Descarga App Mi Claro y ponle Navidad a tu vida. Invita a todos a tu novena, conoce los eventos que tenemos para ti, comparte tus mejores deseos y escucha tradicionales villancicos. https://f63y8.app.goo.gl/miclaro" target="_blank" data-action="share/whatsapp/share" role="button" aria-pressed="true">
            <img src="assets/img/iconocompartir-min.png" alt="">
          </a>
          <a class="sharemov" (click)="ga('send', 'event', 'link', 'click', 'bt_compartir');" href="https://miclaroapp.com.co/novena?url_externa=https://wa.me/?text=Descarga App Mi Claro y ponle Navidad a tu vida. Invita a todos a tu novena, conoce los eventos que tenemos para ti, comparte tus mejores deseos y escucha tradicionales villancicos. https://f63y8.app.goo.gl/miclaro" target="_blank" data-action="share/whatsapp/share" role="button" aria-pressed="true">
            <img src="assets/img/iconocompartir-min.png" alt="">
          </a>    
        </div>
      </div>
      <div class="col-10">
          <div class="form-group search" >
            <input type="text" class="form-control" placeholder="Palabra clave" [(ngModel)]="buscar">
            <img src="assets/img/busquedaicono-min.png" alt="icono buscador">
          </div>
      </div>
    </div>
  </div>
  <div class="rta-buscar bgc-white box-shadow pt-1rem pb-1rem pr-1rem pl-1rem br-radius-8" *ngIf="buscar.length > 0">
    <div>
      <div class="item-search" *ngFor="let d of eventos | search: buscar">
        <div class="novena" routerLink="/evento/{{d.idevento}}">
            {{d.nombreEvent}}
        </div>
      </div>
      <div class="item-search" *ngFor="let n of novenas | search: buscar">
          <div class="novena" routerLink="/novenas/{{n.idNovena}}">
            novena {{n.idNovena}} <br>
          </div>
        </div>
    </div>
  </div>
</div>
 <div class="menu-2" *ngIf="!menuishome">
  <div class="container">
    <div class="row">
      <div class="col-2"> 
        <i class="fas fa-arrow-left fs-34 fc-white" (click)="backClicked()"></i>
      </div>
      <div class="col-10 text-center logo-claro">
        <img src="assets/img/miclarologo-min.png" alt="Logo mi claro">
      </div>
    </div>
  </div>
</div>


