<div class="container mt-3rem">
  <div class="row mb-1rem" *ngFor="let ev of eventos" >
    <div class="col-12 box-shadow br-radius-8">
      <div class="eventos p-1rem" >
        <div class="row" routerLink="/evento/{{ev.idevento}}">
            <div class="col-4 pl-0rem">
                <img src="{{ev.imgDest}}" class="img-fluid carta-eventos" alt="">
              </div>
              <div class="col-6 pb-0rem pl-0rem pr-0rem pt-2rem pboxevent">
                <b class="title-eventos">{{ev.lugar}}</b>
                <div class="row fc-red-primary">
                  <div class="col-4">
                    <div class="col-12 p-0rem parr-evts">
                      Fecha
                    </div>
                    <div class="col-12 p-0rem parr-evts">
                      <b>{{ev.fecha}}</b>
                    </div>
                  </div>
                  <div class="col-4 disnone-movil">
                    <div class="col-12 p-0rem parr-evts">
                      Hora
                    </div>
                    <div class="col-12 p-0rem parr-evts">
                      <b>{{ev.hora}}</b>
                    </div>
                  </div>
                  <div class="col-4 disnone-movil">
                    <div class="col-12 p-0rem parr-evts">
                      Lugar
                    </div>
                    <div class="col-12 p-0rem parr-evts">
                      <b>{{ev.direccion}}</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2 txt-right pr-0rem  pt-3rem pboxevent">
                <img src="assets/img/christmas-card-min.png" class="img-fluid" alt="christmas card">
              </div>
        </div>
      </div>
    </div>
  </div>
</div>